$black: #333;
$gray: #777;
$accent: #4a447e;
$accentExt: #f28559;

$mobileMinWidth: 320px;
$mobileMaxWidth: 768px;
$tabletMaxWidth: 1024px;

$contentMinWidth: $mobileMinWidth;
$contentMaxWidth: 1280px;
$contentPadding: 36px;

$gridGutter: 10%;

$inputsHeight: 46px;
$inputsPadding: 10px;

@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,500,500i,700,700i,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400i&subset=cyrillic');

@import "reset";
@import "clearfix";
@import "mixins";
@import "forms";
@import "datepicker";

@media screen and (max-width: $tabletMaxWidth) {
  .mobile-visible {
    display: block;
  }
  .desktop-visible {
    display: none;
  }
}
@media screen and (min-width: $tabletMaxWidth + 1) {
  .mobile-visible {
    display: none;
  }
  .desktop-visible {
    display: block;
  }
}

.l{ float: left; }
.r{ float: right; }

.box{
  $boxSizing: border-box;
  box-sizing: $boxSizing;
  -moz-box-sizing: $boxSizing;
  -webkit-box-sizing: $boxSizing;
}

.flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.font{
  &.serif{
    font-family: 'PT Serif', serif;
    font-weight: 400;
  }
  &.classic{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    &.size{
      font-size: 17px;
      line-height: 1.5em;
    }
  }
  &.medium{
    &.size{
      font-size: 15px;
      line-height: 1.5em;
    }
  }
  &.small{
    &.size{
      font-size: 13px;
      line-height: 1.5em;
    }
  }
}
b, strong, .b{
  font-weight: 500;
}
i, .i{
  @extend .serif.font;

  font-style: italic;
}
.extrabold{
  font-weight: 700;
}

.grid{
  .column {
    @extend .box;

    display: inline-block;
    float: left;
  }
  .x2 {
    @include gridRow(2, $gridGutter / 2, $gridGutter / 2);
  }
  .x3 {
    @include gridRow(3, $gridGutter / 2, $gridGutter / 2);
  }
  .x4 {
    @include gridRow(4, $gridGutter / 4, $gridGutter / 4);
  }

  @media screen and (max-width: $mobileMaxWidth) {
    .x2, .x3, .x4{
      .column {
        width: auto;
        margin: 0;
        margin-bottom: $contentPadding / 2;
        &:last-child{
          margin-bottom: 0;
        }
      }
      .column {
        display: block;
        float: none;
      }
    }
  }
}

.content-wrapper, .white-wrapper{
  background: #fff;
}
.content-wrapper{
  margin-top: $contentPadding;
  padding-bottom: $contentPadding * 2;
}

.section{
  > .wrapper{
    min-width: $contentMinWidth - ($contentPadding * 2) - 16;
    max-width: $contentMaxWidth - ($contentPadding * 2) - 16;
    padding: $contentPadding $contentPadding 0;
    margin: 0 auto;
  }
  &.inverted{
    margin-top: $contentPadding;
    margin-bottom: $contentPadding;
    background: $accentExt;
    color: #fff;
    > .wrapper{
      padding-top: $contentPadding * 2;
      padding-bottom: $contentPadding * 2;
    }
  }
  @media screen and (max-width: $mobileMaxWidth) {
    > .wrapper{
      padding: $contentPadding $contentPadding / 2 0;
    }
  }
}

html{
  height: 100%;
}
body{
  @extend .classic.font;
  @extend .classic.font.size;

  position: relative;
  min-height: 100%;
  background: $accent;
  color: $black;
  &-fade, &-wait{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
  }
  &-wait{
    z-index: 1001;
    height: 100vh;
    background: url("../img/preloader_accent.gif") 50% 50% no-repeat;
  }
}

h1, h2, h3{
  @extend .extrabold;
}
h1{
  font-size: 46px;
  line-height: 1.3em;
  margin-bottom: $contentPadding;
  @media screen and (max-width: $mobileMaxWidth) {
    font-size: 36px;
    line-height: 1.4em;
  }
}
h2{
  font-size: 34px;
  line-height: 1.4em;
  margin-bottom: $contentPadding;
  @media screen and (max-width: $mobileMaxWidth) {
    font-size: 26px;
    line-height: 1.4em;
  }
}
h3{
  font-size: 26px;
  line-height: 1.5em;
  margin-bottom: $contentPadding;
  @media screen and (max-width: $mobileMaxWidth) {
    font-size: 20px;
    line-height: 1.4em;
  }
}


a{
  color: $accent;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
    color: $accentExt;
  }
}

.header{
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  background: $accent;
  color: #fff;
  transition: 0.3s;
  nav{
    > span{
      margin: 0 0 0 2.5em;
      float: left;
    }
    i{
      margin-right: 0.2em;
    }
    img{
      @include round(15px);

      height: 30px;
      margin-right: 5px;
    }
  }
  span{
    @extend .flex;

    height: $contentPadding * 2;
  }
  a{
    color: inherit;
  }
  > .wrapper{
    padding-top: 0;
    padding-bottom: 0;
  }
  .l, .r{
    @extend .flex;
  }
  .l{
    float: left;

    &.index{
      font-size: 21px;

      span, a{
        @extend .extrabold;
      }
    }
  }
  .r{
    float: right;
  }

  .responsive-menu-control{
    display: none;
  }
  .social-links{
    @extend .i;

    margin-left: $contentPadding;
    color: lighten($accent, 30%);
    a{
      margin-left: 12px;
      text-decoration: none;
      &:hover{
        color: #fff;
      }
    }
  }
  @media screen and (max-width: $tabletMaxWidth) {
    span, .l, .r{
        display: block;
        float: none;
        height: auto;
    }
    a{
      text-decoration: none;
    }
    .index{
      span{
        padding: 23px 0;
      }
    }
    .social-links{ display: none; }
    .responsive-menu-control{
      position: relative;
      top: 2px;
      display: inline-block;
      float: right;
    }
    .menu{
        display: none;
    }
    nav{
      text-align: center;
      > span{
        display: block;
        float: none;
        margin: 0;
        border-top: 1px solid lighten($accent, 8%);
      }
      a{
        display: block;
        padding: 0.5em 0;
      }
      img{
        @include round(25px);

        display: inline-block;
        height: 50px;
        margin: 1em 0 0;
      }
      .fa{
        display: none;
      }
    }
  }
}

.footer{
  background: $accent;
  color: #fff;
  a{
    color: inherit;
  }
  > .wrapper{
    padding-top: $contentPadding * 2;
    padding-bottom: $contentPadding * 2;
  }
  .logo{
    @extend .extrabold;
  }
  @media screen and (max-width: $tabletMaxWidth) {
    //margin-top: $contentPadding;
    > .wrapper{
      padding-top: $contentPadding;
      padding-bottom: $contentPadding;
    }
  }
}

.media{
  > .wrapper{
    width: 100%;
    margin: 0 auto;
  }
  .image{
    margin-bottom: $contentPadding / 2;
    .img{
      text-align: center;
    }
    img{
      display: inline-block;
      max-width: 100%;
    }
    .caption{
      @extend .i;
      @extend .medium.font.size;

      margin-top: 0.5em;
      text-align: center;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: $tabletMaxWidth) {
    > .wrapper{
      width: 100%;
    }
  }
}

.media-grid{
  .column{
    margin-bottom: $contentPadding / 1.5;
  }
  .image{
    display: block;
    position: relative;
    background: $accent;
    img{
      max-width: 100%;
    }
    .label{
      @extend .i;

      position: absolute;
      top: 20px;
      left: 0;
      padding: 0.5em 1em;
      background: $accentExt;
      color: #fff;
    }
  }
  .info{
    padding: $contentPadding / 2 0;
  }
  .stat{
    @extend .small.font.size;

    margin-bottom: $contentPadding / 4;
    .l{
      float: left;
    }
    .r{
      float: right;
    }
  }
  .title{
    @extend .b;
  }
}

.comments-grid{
  .item{
    border-bottom: 1px dashed #ddd;
    .column{
      display: inline-block;
      float: left;
      > .wrapper{
        padding: $contentPadding 0 $contentPadding $contentPadding;
      }
      &.c1{
        width: 12%;
        img{
          max-width: 100%;
        }
      }
      &.c2{
        width: 88%;
      }
    }
    .info{
      @extend .medium.font.size;

      margin-bottom: $contentPadding / 2;
    }
    .note{
      text-align: right;
    }
    &:last-child{
      margin-bottom: 0;
      border-bottom: none;
    }
  }
    @media screen and (max-width: $mobileMaxWidth) {
    .item{
      .column{
        margin: 0;
        > .wrapper{
          padding: 0;
        }
        &.c1{
          display: none;
        }
        &.c2{
          width: 100%;
        }
      }
      .note{
        text-align: left;
      }
    }
  }
}