input, select, textarea, button, .button, select{
  @extend .box;

  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}
input[type="text"], input[type="email"], input[type="password"], select, textarea, input[type="submit"], .button{
  border: 1px solid #ddd;
  padding: $inputsPadding $inputsPadding * 2;
  background: #f9f9f9;
  &.error{
    border-color: red;
    background: lighten(red, 45%);
  }
}
input[type="text"], input[type="email"], input[type="password"], select, input[type="submit"], .button{
  height: $inputsHeight;
  line-height: $inputsHeight;
}
.input, input[type="text"], input[type="email"], input[type="password"], textarea{
  width: 100%;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
textarea{
  padding: 1em $inputsPadding * 2;
  resize: vertical;
}
input[type=file]{
  position: absolute;
  left: -10000px;
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
input[type="checkbox"]{
  margin: 0;
  vertical-align: middle;
}
.button{
  $hoverColor: $accentExt;

  display: inline-block;
  padding: 0 $inputsPadding * 5;
  vertical-align: middle;
  border-color: $accent;
  background: $accent;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.2s;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: $inputsHeight;
  cursor: pointer;
  &::-moz-focus-inner {
    border:0;
  }
  &:focus {
    outline:0;
  }
  &:hover{
    background: $hoverColor;
    border-color: $hoverColor;
    color: #fff;
  }
  &.empty{
    background: none;
    border-color: #fff;
    color: #fff;
    &:hover{
      background: #fff;
      border-color: #fff;
      color: $accent;
    }
    &.accent{
      border-color: $accent;
      color: $accent;
      &:hover{
        background: $accent;
        color: #fff;
      }
    }
    &.pair{
      border-color: $accentExt;
      color: $accentExt;
      &:hover{
        background: $accentExt;
        color: #fff;
      }
    }
  }
}

.form{
  label, .label{
    @extend .medium.font.size;
  }
  .label{
    margin-bottom: 0.1em;
  }
  .row{
    position: relative;
    margin-bottom: $contentPadding / 2;
    > i.fa{
      display: inline-block;
      position: absolute;
      top: 53%;
      right: 1em;
      cursor: pointer;
    }
    &.hidden{
      display: none;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}