@import "common";

.s0{
  $border: 0px $accentExt solid;

  h1{
    font-size: 28px;
    line-height: 1.3em;
    margin-bottom: $contentPadding / 2;
  }
  .row, .column{
    @extend .box;

    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    //border: 1px dashed #ccc;
  }
  .row{
    .wrapper{
        height: 100%;
    }
    .column{
      float: left;
      height: 100%;
      &#c1{
        width: 60%;
        border-right: $border;
      }
      &#c2{
        width: 40%;
      }
    }
    .overlay, .content{
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .overlay{
      background: $accent;
      opacity: 1;
      z-index: 1;
    }
    .content{
      @extend .flex;

      justify-content: center;
      z-index: 2;
      color: #fff;
      text-align: center;
      > div{
        padding: 5%;
      }
      p{
        @extend .i;
      }
    }
    &#r1{
      height: 100%;
    }
    &#r2{
      height: 60%;
    }
    &#r3{
      height: 40%;
    }
    &#r4{
      height: 100%;
      .column{
        float: left;
        width: 50%;
        height: 50%;
      }
    }
  }
  @media screen and (max-width: $mobileMaxWidth) {
    .row{
      .column{
        float: none;
        height: 50%;
        &#c1, &#c2{
          width: 100%;
          border: none;
        }
        &#c1, &#c2{
          height: 50%;
        }
      }
      &#r2{
        display: none;
      }
      &#r3{
        height: 100%;
      }
    }
  }
}

.s1, .s2{
  .button{
    float: right;
  }
  @media screen and (max-width: $mobileMaxWidth) {
    .button{
      float: none;
      margin-bottom: $contentPadding / 2;
    }
  }
}