@import "common";

.s0{
  $border: 0px $accentExt solid;

  height: 100vh;
  .row, .column{
    @extend .box;

    position: relative;
    background-size: cover;
    background-position: 50% 50%;
  }
  .row{
    height: 50%;
    .wrapper{
        height: 100%;
    }
    .column{
      float: left;
      height: 100%;
      &#c1{
        width: 60%;
        border-right: $border;
      }
      &#c2{
        width: 40%;
      }
    }
    .overlay, .content{
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .overlay{
      background: $accent;
      opacity: 0.8;
      z-index: 1;
    }
    .content{
      @extend .flex;

      justify-content: center;
      z-index: 2;
      color: #fff;
      > div{
        text-align: center;
      }
    }
    &#r1{
      height: 100%;
    }
    &#r3{
      border-top: $border;
    }
  }
  @media screen and (max-width: $mobileMaxWidth) {
    .row{
      .column{
        float: none;
        height: 50%;
        &#c1, &#c2{
          width: 100%;
          border: none;
        }
      }
      &#r2{
        display: none;
      }
      &#r3{
        height: 100%;
      }
    }
  }
}