@import "common";

.suppliments-grid{
  width: 100%;
  .row{
    &:first-child{
      @extend .b;

      background: $accent;
      color: #fff;
      a{
        color: inherit;
      }
      .column{
        padding-top: 1%;
        padding-bottom: 1%;
        &.active{
          background: $accentExt;
        }
      }
    }
    &:nth-child(2n){
      background: #eee;
      .column {
        border-right: 1px solid #fff;
      }
    }
  }
  .column{
    @extend .box;

    display: inline-block;
    float: left;
    width: (100% / 6);
    padding: 0.7% 1.5%;
    border-right: 1px solid #eee;
    text-align: center;
    &:first-child{
      text-align: left;
      width: (100% / 3);
    }
    &:last-child{
      border-right: none;
    }
  }
}

.s0{
  .grid{
    .column{
      margin-right: 3px;
    }
  }
}

.s1{
  > .wrapper{
    padding-top: 0;
  }
}

.supplements-graph{
  @extend .small.font.size;

  .graph{
    margin: 0.5em 0;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .row{
    &:first-child{
      .column{
        height: 200px;
      }
    }
  }
  .column{
    position: relative;
    display: inline-block;
    float: left;
    width: (100% / 14);
    .marker{
      @extend .box;

      position: absolute;
      bottom: 0;
      z-index: 5;
      width: 100%;
      &.daily-value{
        background: #f9f9f9;
        border-top: 1px solid #ddd;
      }
      &.total{
         border-top: 1px solid green;
        &.active{
          border-top: 1px solid red;
        }
      }
    }
  }
}